<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

#RewriteCond %{HTTP_HOST} ^donuts.domains [NC]
#RewriteRule ^(.*)$ http://donuts.domains/$1 [L,R=301]

#RewriteCond %{HTTP_HOST} ^domains\.donuts [NC]
#RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ https://domains.donuts/$1 [R,L]

    RewriteEngine On
    RewriteCond %{SERVER_PORT} !^443$
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
	
