.uc_product_features_eight_bullets, .uc_product_features_eight_bullets * {
	margin: 0;
	padding: 0;
}
.uc_product_features_eight_bullets {
	width: 100%;
	font-size: 0;
}
.uc_product_features_eight_bullets .uc_leftside {
	display: inline-block;
	margin-top: 40px;
	width: 35%;
	vertical-align: top;
}
.uc_product_features_eight_bullets .uc_centerside {
	display: inline-block;
	width: 30%;
}
.uc_product_features_eight_bullets .uc_rightside {
	display: inline-block;
	margin-top: 40px;
	width: 35%;
	vertical-align: top;
}
.uc_product_features_eight_bullets .uc_left_component, .uc_product_features_eight_bullets .uc_right_component {
	display: table-row;
}
.uc_product_features_eight_bullets .uc_left_component .uc_title, .uc_product_features_eight_bullets .uc_left_component .uc_content {
	margin-right: 136px;
	text-align: right;
}
.uc_product_features_eight_bullets .uc_left_component .uc_icon {
	float: right;
	margin-right: 54px;
	transition: all 0.3s;
}
.uc_product_features_eight_bullets .uc_right_component .uc_title, .uc_product_features_eight_bullets .uc_right_component .uc_content {
	margin-left: 136px;
}
.uc_product_features_eight_bullets .uc_right_component .uc_icon {
	float: left;
	margin-left: 54px;
	transition: all 0.3s;
}
.uc_product_features_eight_bullets .uc_left_component:hover .uc_icon {

	color: #fff;
	transform: translate(20px, 0);
	transition: all 0.3s;
}
.uc_product_features_eight_bullets .uc_right_component:hover .uc_icon {
	
	color: #fff;
	transform: translate(-20px, 0);
	transition: all 0.3s;
}
.uc_product_features_eight_bullets .uc_icon {
	margin-top: 23px;
	height: 68px;
	width: 68px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	box-sizing: border-box;
	font-size: 24px;
	line-height: 68px;
}
.uc_product_features_eight_bullets .uc_title, .uc_product_features_eight_bullets .uc_title a {
	margin: 0;
	font: 20px Raleway;
	text-decoration: none;
}
.uc_product_features_eight_bullets .uc_title {
	margin-bottom: 10px;
}
.uc_product_features_eight_bullets .uc_content {
	margin-bottom: 60px;
	font: 16px "Open Sans";
	color: #ffffff;
	line-height: 27px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
.uc_product_features_eight_bullets .uc_leftside, .uc_product_features_eight_bullets .uc_rightside {
	margin-top: 20px;
}
.uc_product_features_eight_bullets .uc_icon {
	display: none;
}
.uc_product_features_eight_bullets .uc_content {
	margin-bottom: 53px;
}
.uc_product_features_eight_bullets .uc_left_component .uc_title, .uc_product_features_eight_bullets .uc_left_component .uc_content {
	margin-right: 45px;
}
.uc_product_features_eight_bullets .uc_right_component .uc_title, .uc_product_features_eight_bullets .uc_right_component .uc_content {
	margin-left: 45px;
}
}

@media screen and (max-width: 767px) {
.uc_product_features_eight_bullets {
	text-align: center;
}
.uc_product_features_eight_bullets .uc_leftside, .uc_product_features_eight_bullets .uc_rightside {
	margin: 0;
	width: 100%;
}
.uc_product_features_eight_bullets .uc_centerside {
	width: 40%;
}
.uc_product_features_eight_bullets .uc_left_component, .uc_product_features_eight_bullets .uc_right_component {
	display: block;
	margin: 28px 0;
	width: 100%;
}
.uc_product_features_eight_bullets .uc_left_component .uc_icon, .uc_product_features_eight_bullets .uc_left_component .uc_title, .uc_product_features_eight_bullets .uc_left_component .uc_content,  .uc_product_features_eight_bullets .uc_right_component .uc_icon, .uc_product_features_eight_bullets .uc_right_component .uc_title, .uc_product_features_eight_bullets .uc_right_component .uc_content {
	float: none;
	margin: 0;
	text-align: center;
}
.uc_product_features_eight_bullets .uc_left_component .uc_icon, .uc_product_features_eight_bullets .uc_right_component .uc_icon {
	height: 54px;
	width: 54px;
	font-size: 21px;
	line-height: 54px;
}
.uc_product_features_eight_bullets .uc_left_component .uc_title, .uc_product_features_eight_bullets .uc_right_component .uc_title {
	margin: 9px 0 7px;
	font-size: 16px;
}
.uc_product_features_eight_bullets .uc_left_component .uc_content, .uc_product_features_eight_bullets .uc_right_component .uc_content {
	font-size: 12px;
}
.uc_product_features_eight_bullets .uc_left_component:hover .uc_icon, .uc_product_features_eight_bullets .uc_right_component:hover .uc_icon {
	transform: translate(0, 0);
}
}
