
.uc_bw_bullets *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_bw_bullets .uc_container_holder{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:20px;
	color:#ffffff;
}

.uc_bw_bullets .uc_bw_bullets_row
{
	padding:16px 17px 16px 87px;
	overflow:hidden;
	position:relative;
	text-align:left;
	width:100%;
}

.uc_bw_bullets .uc_bw_bullets_row .uc_icon_holder
{
	width:44px;
	height:44px;
	border-radius:50%;
	font-size:15px;
	float:left;
	text-align:center;
	line-height:44px;
	position:relative;
	z-index:5;
}

.uc_bw_bullets .uc_bw_bullets_row .uc_icon_holder i
{
	position:relative;
}

.uc_bw_bullets .uc_bw_bullets_row .uc_content_box
{
	float:left;
	width:100%;
	padding-top:7px;
}

.uc_bw_bullets .uc_bw_bullets_row .uc_content_box h2
{
	font-size:16px;
	font-weight:600;
	margin-bottom:7px;
	text-transform:uppercase;
}

.uc_bw_bullets .uc_top_border
{
	position:absolute;
	left:34px;
	top:0px;
	width:2px;
	height:100%;
	display:block;
	z-index:1;
	border-left:1px dashed;
}

.uc_bw_bullets .uc_left_border
{
	position:absolute;
	left:41px;
	top:72px;
	width:23px;
	height:2px;
	display:block;
	z-index:2;
	border-bottom:1px dashed;
}

.uc_bw_bullets .uc_figure
{
	width:55%;
	float:left;
	position:relative;
	
}

.uc_bw_bullets .uc_figure img
{
	width:100%;
}

.uc_bw_bullets  .uc_right_bw_bullets
{
	padding-top:52px;
	width:40%;
	float:right;
}

.uc_bw_bullets .uc_bw_bullets_row:last-child .uc_top_border
{
	height:80%;
}

.uc_bw_bullets .uc_bw_bullets_row:first-child .uc_top_border
{
	top:30px;
}



@media only screen and (max-width: 1000px) {
  
  .uc_bw_bullets .uc_right_bw_bullets
  {
	  width:50%;
  }
  
.uc_bw_bullets .uc_figure img
{
	width:100%;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	transform:translateY(29%);
}

.uc_bw_bullets .uc_figure
{
	width:48%;
}
}

@media only screen and (max-width: 640px) {
	.uc_bw_bullets .uc_figure{ width:100%;}
	.uc_bw_bullets .uc_right_bw_bullets{ width:100%;}
	
	.uc_bw_bullets .uc_figure img{ position:inherit; transform:translateY(0%);}
	
	.uc_bw_bullets .uc_bw_bullets_row { padding: 16px 17px 16px 56px; }
	.uc_bw_bullets .uc_top_border{ left:13px;}
	.uc_bw_bullets .uc_left_border{ left:20px;}
}