
.uc_simple_bullets *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_simple_bullets .uc_container_holder{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:20px;
	color:#ffffff;
}

.uc_simple_bullets .uc_simple_bullets_row
{
	
	min-height:95px;
	position:relative;
	display:inline-block;
	text-align:left;
	width:100%;
	box-shadow: #e3e4e4 0px 0px 10px;
	margin-bottom:20px;
}

.uc_simple_bullets .uc_simple_bullets_row:last-child
{
	margin-bottom:0px;
}


.uc_simple_bullets .uc_simple_bullets_row i
{
	font-size:30px;
   	padding:5px 32px 16px 32px;
	margin-bottom:20px; 
	position:relative;
	transform:translateY(49%);
    display:block; 
    float:left;
  
}

.uc_simple_bullets .uc_simple_bullets_row .uc_content_box
{
	float:left;
	width:calc( 100% - 100px) ;
    padding-top:11px;
}

.uc_simple_bullets .uc_simple_bullets_row .uc_content_box h2
{
	font-size:16px;
	font-weight:600;
	text-transform:uppercase;
	margin-bottom:5px;
}


@media only screen and (max-width: 480px) {
.uc_simple_bullets .uc_simple_bullets_row
{
	padding:16px 16px 16px 28px;	
}
.uc_simple_bullets .uc_simple_bullets_row i
{
	margin-right:26px;
}

.uc_simple_bullets .uc_simple_bullets_row .uc_content_box
{
	width:calc(100% - 125px);
}
}