
.uc_tech_bullets *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_tech_bullets .uc_container_holder{
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:16px;
	color:#ffffff;
}

.uc_tech_bullets .uc_tech_bullets_row
{
	padding:17px;
	overflow:hidden;
	position:relative;
	text-align:left;
	width:100%;
}

.uc_tech_bullets .uc_tech_bullets_row .uc_icon_holder
{
	width:46px;
	height:75px;
	font-size:17px;
	float:left;
	border:2px solid;
	text-align:center;
	line-height:73px;
	position:relative;
	z-index:5;
	border-radius:30px;
}

.uc_tech_bullets .uc_tech_bullets_row:hover .uc_icon_holder 
{
	background-color:#2d50ff !important;
	border-color:#2d50ff !important;
}

.uc_tech_bullets .uc_tech_bullets_row:hover .uc_icon_holder i
{
	color:#ffffff !important;
}

.uc_tech_bullets .uc_tech_bullets_row .uc_content_box
{
	float:left;
	width:calc( 100% - 70px) ;
	padding-top:4px;
	padding-left:20px;
}

.uc_tech_bullets .uc_tech_bullets_row .uc_content_box h2
{
	font-size:16px;
	font-weight:600;
	margin-bottom:7px;
	text-transform:uppercase;
}

.uc_tech_bullets .uc_top_border
{
	position:absolute;
	left:38px;
	top:0px;
	width:2px;
	border-left:2px solid;
	height:100%;
	display:block;
	z-index:1;
}


.uc_tech_bullets .uc_tech_bullets_row:last-child .uc_top_border
{
	top:-10px;
	height:50%;
}

.uc_tech_bullets .uc_tech_bullets_row:first-child .uc_top_border
{
	top:30px;
}



.uc_tech_bullets .uc_rainbow_two_left .uc_top_border
{
	right:46px;
	left:inherit;
}

.uc_tech_bullets .tech_bullets_left
{
	float:left;
	width:33%;
	padding-top:60px;
}

.uc_tech_bullets .uc_tech_figure
{
	float:left;
	width:33%;
}

.uc_tech_bullets .uc_tech_figure img
{
	width:100%;
}

.uc_tech_bullets .tech_bullets_right
{
	float:right;
	width:33%;
	padding-top:60px;
}

.uc_tech_bullets .tech_bullets_left .uc_icon_holder
{
	float:right;
}

.table{ display:table;}
.table-box{ display:table-cell;}

.uc_tech_bullets .tech_bullets_left .uc_content_box
{
	float:right;
	padding-left:0px; 
	padding-right:20px;
	text-align:right;
}

.uc_tech_bullets .tech_bullets_left .uc_top_border{
	left:inherit !important;
	right:38px !important;
}


@media only screen and (max-width: 640px) {
  
	.uc_tech_bullets .tech_bullets_right,.uc_tech_bullets .tech_bullets_left{ width:100%;}

}