
.uc_altemating_bullets *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.uc_altemating_bullets .uc_container_holder{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:20px;
	color:#ffffff;
}

.uc_altemating_bullets .uc_altemating_bullets_row
{
	padding:16px 16px 16px 0px;
	min-height:90px;
	position:relative;
	text-align:left;
	margin-right:30px;
	width:calc( 100% - 20px);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position:relative;
	display:table;
}

.uc_altemating_bullets .uc_altemating_bullets_row .uc_altemating_bullets .uc_ceal{ display:table-cell;}

.uc_altemating_bullets .uc_altemating_bullets_row:hover
{
	width:100%;
	margin-right:0px;
}



.uc_altemating_bullets .uc_altemating_bullets_row .uc_left_border
{
	width:4px;
	min-height:50px;
	height:100%;
	margin-top:5px;
	margin-bottom:5px;
	float:left;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.uc_altemating_bullets .uc_altemating_bullets_row:hover .uc_left_border
{
	background-color:#ffffff;
}

.uc_altemating_bullets .uc_altemating_bullets_row p
{
	opacity:0.7;	
}

.uc_altemating_bullets .uc_altemating_bullets_row i
{
	font-size:30px;
	width:96px;
	min-height:60px;
	padding:15px 0px;
	vertical-align:middle;
	float:left;
	text-align:center;
	position:relative;
}

.uc_altemating_bullets .uc_altemating_bullets_row .uc_content_box
{
	float:left;
	width:calc( 100% - 100px) ;
}

.uc_altemating_bullets .uc_altemating_bullets_row .uc_content_box h2
{
	font-size:16px;
	font-weight:600;
	text-transform:uppercase;
}

.uc_altemating_bullets .uc_altemating_bullets_row .uc_border
{
	border-left:2px dashed;
	width:2px;
	height:35px;
	position:absolute;
	left:50px;
	bottom:-18px;
	z-index:99;
}

.uc_altemating_bullets .uc_altemating_bullets_row:last-child .uc_border
{
	display:none;
}

@media only screen and (max-width: 414px) 
{
	.uc_altemating_bullets .uc_altemating_bullets_row i{ width:60px;}
	.uc_altemating_bullets .uc_altemating_bullets_row .uc_content_box { width: calc( 100% - 65px);}
	.uc_altemating_bullets .uc_altemating_bullets_row .uc_border{ left:33px;}
}
