	.uc-designer-video-teaser * { 
margin: 0; 
padding: 0; 
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box; 
box-sizing: border-box; 
}


.uc-designer-video-teaser .uc-designer-video-teaser-inner{max-width: 100%;display: flex;align-items: center;}
.uc-designer-video-teaser .uc-designer-video-teaser-inner .uc-banner-content{ display: flex;text-align: center; margin: 0 auto;}
.uc-designer-video-teaser .uc-designer-video-teaser-inner .uc-banner-content p{font-family: 'Roboto', sans-serif; font-weight:normal;font-size:15px;line-height:27px;width: 50%;margin: 0 auto;}
.uc-designer-video-teaser .uc-designer-video-teaser-inner .uc-banner-content p a{ color:#fff; display: inline-block; font-size:90px; color:#fff;background: none; border: none;box-shadow: none;}
.uc-designer-video-teaser .uc-designer-video-teaser-inner .uc-banner-content p strong{ display:block;font-size:70px;line-height:100px;font-weight:100;font-family: 'Raleway', sans-serif;}
.uc-designer-video-teaser .uc-designer-video-teaser-inner .uc-banner-content p .btn_mobile{display:none;}

@media only screen and (max-width: 767px) {
.uc-designer-video-teaser .uc-designer-video-teaser-inner .uc-banner-content p .btn{display:none;}
.uc-designer-video-teaser .uc-designer-video-teaser-inner .uc-banner-content p .btn_mobile{display:block;}	
}
@media only screen and (max-width: 640px) {
.uc-designer-video-teaser .uc-designer-video-teaser-inner .uc-banner-content p{ width:90%;}
.uc-designer-video-teaser .uc-designer-video-teaser-inner .uc-banner-content p strong {font-size: 52px;line-height: 65px;}
}