.uc-split-video-teaser * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

.uc-split-video-teaser .uc-split-video-teaser-inner{ max-width: 100%; display: flex;}
.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content{ display: flex; margin: 0 auto; width:50%;  height:100vh; align-items: center;}
.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box{
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding:0px 50px;
	text-align:center;
}

.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box strong{
	display:block; 
	font-size:90px; 
	line-height:63px; 
	font-weight:400; 
	margin-bottom:30px;
	font-family: 'Source Serif Pro', serif;
}
.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box p{
	font-weight:normal; 
	font-size:18px; 
	line-height:36px; 
	font-family: 'Roboto', sans-serif;
	margin-bottom:70px;
}
.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box a.order-now{ 
	display: inline-block; 
	font-size:14px;
	line-height:normal;
	text-decoration:none;
	position:relative;
	border-radius:30px;
	padding:22px 10px;
	text-align:center;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:2px;
	width:226px;
	font-family: 'Raleway', sans-serif;
	box-shadow: 0 13px 13px #ebebeb;
	-moz-box-shadow: 0 13px 13px #ebebeb;
	-ms-box-shadow: 0 13px 13px #ebebeb;
	-webkit-box-shadow: 0 13px 13px #ebebeb;
}

.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box a.btn{ 
	display: inline-block; 
	text-decoration:none;
	position:relative;
	border-radius:50%;
	padding:55px 65px;
	text-align:center;
	width:176px;
	height:176px;
}
.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box a.btn i{ font-size:70px;} 


@media only screen and (max-width: 1280px) {
	.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box strong{ line-height:normal; font-size:70px;}
}
@media only screen and (max-width: 1023px) {
	.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box strong{ font-size:54px;}
}
@media only screen and (max-width: 1023px) {
	.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box strong{ font-size:48px;}
}
@media only screen and (max-width: 767px) {
	.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box strong{ font-size:42px; margin-bottom:20px;}
	.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box p{ font-size:15px; margin-bottom:40px;}
	.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box{ padding:0 20px;}
}
@media only screen and (max-width: 639px) {
	.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content{ width:100%;}
	.uc-split-video-teaser .uc-split-video-teaser-inner{ display:block;}
	.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box{ padding:0 15px;}
	.uc-split-video-teaser .uc-split-video-teaser-inner .uc-banner-content .uc-content-box a.order-now{ width:200px;}
}