.uc-fashion-slider * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.uc-fashion-slider{
	position:relative;
}
.uc-fashion-slider .uc-fashion-slider-container{ 
	max-width: 100%;
	display: flex; 
	align-items: flex-end;
	height:100vh;
}
.uc-fashion-slider .uc-fashion-slider-container .uc-slide{
	position:absolute;
	left:0;
	top:0;
	width:100%;
}
.uc-fashion-slider .uc-fashion-slider-container .uc-slide ul li{
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}
.uc-fashion-slider .uc-fashion-slider-container .flexslider .slides li { height:100vh;}
.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-image{ 
	width:100%;
}

.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content{ 
    margin: 0 auto 50px;
    position: relative;
    text-align: center;
	z-index:999;
}
.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content .uc-content-box {
    width: 100%;	
}
.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content strong{ 
	display:block; 
	font-size:100px; 
	line-height:36px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	margin:13px 0 50px;
	letter-spacing:20px;
}
.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content p{ 
	display:block; 
	font-size:20px; 
	line-height:36px;
	font-family: "Source Sans Pro",sans-serif;
	font-weight:400;
	margin-bottom:50px;
}
.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content a.uc-btn {
    border-radius: 30px;
    display: inline-block;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    letter-spacing: 2px;
    line-height: 45px;
    margin: 0 14px 170px;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
}

.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content{
    clear: both;
    margin: 0px auto 0;
    overflow: hidden;
    position: relative;
	width:72%;
	
}
.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content .uc-bottom-content-box{
    display: inline-block;
    margin: 0 -2px;
    padding:0px 32px 0px;
    vertical-align: top;
    width: 33.33%;
	border-right:1px solid transparent;
	font-size:19px;
}
.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content .uc-bottom-content-box:last-child{
	border-right:0px;
}
.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content .uc-bottom-content-box b{
	margin-bottom:10px;
	display:block;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:4px;
}
.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content .uc-bottom-content-box p{
	line-height:22px;
	font-family: "Source Sans Pro",sans-serif;
	font-weight:400;
	font-size:16px;
	margin:0;
}


.uc-fashion-slider .uc-fashion-slider-container .uc-slide .flex-control-nav { display:none !important;}
.uc-fashion-slider .uc-fashion-slider-container .uc-slide .flex-direction-nav { display:none !important;}
.uc-fashion-slider .uc-fashion-slider-container .uc-slide .flexslider {
    background:none !important;
    border: 0px solid #ffffff !important;
    border-radius: 0px !important;
    margin: 0px !important;
    position: relative !important;
}

@media only screen and (max-width: 1292px) {
	.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content .uc-bottom-content-box b{ letter-spacing:2px;}
}
@media only screen and (max-width: 1157px) {
	.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content .uc-bottom-content-box b{ letter-spacing:1px;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content .uc-bottom-content-box{ font-size:17px;}
}
@media only screen and (max-width: 1023px) {
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content p br{ display:none;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content{ padding:0 2%;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content{ width:100%;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content strong{ font-size:80px;}
}
@media only screen and (max-width: 767px) {
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content strong{ letter-spacing:8px; font-size:40px; margin:20px 0;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content p{ font-size:16px; line-height:22px; margin-bottom:20px;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content a.uc-btn{ width:auto; height:auto; line-height:normal; padding:12px 30px;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content .uc-bottom-content-box{ font-size:14px; padding:0 15px;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content .uc-bottom-content-box p{ font-size:13px; line-height:normal;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content a.uc-btn{ margin:0 0 50px;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content{ margin-bottom:20px;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content .uc-bottom-content-box b{ margin-bottom:0;}
}
@media only screen and (max-width: 639px) {
	.uc-fashion-slider .uc-fashion-slider-container .uc-bottom-content .uc-bottom-content-box{ display:block; width:100%; padding:10px; text-align:center; padding:5px 10px;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content a.uc-btn{ font-size:12px;}
	.uc-fashion-slider .uc-fashion-slider-container .flexslider .slides li{}
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content strong{ letter-spacing:2px; font-size:24px; margin:10px 0;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content a.uc-btn{ margin-bottom:10px;}
	.uc-fashion-slider .uc-fashion-slider-container .uc-fashion-slider-content p{ font-size:12px;}
	
}





















